__pycache__/
*.pyc
*.egg-info/
dist/
build/
.venv/
venv/
*.db
*.sqlite
*.sqlite3
*.log
.env
.idea/
.vscode/
*.swp
*.swo
~*
.DS_Store
Thumbs.db
node_modules/
static/js/*.map
outputs/
apex/outputs/
dashboard/static/js/api.js
